@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

* {
  color: red;
  font-family: "Fira Code", monospace;
}
*::selection {
  color: #fffce8;
  background: #4744e7;
}
a:after {
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  color: white;
  content: "";
  background: url("../img/icon/link_icon.png") no-repeat;
  background-size: 1em;
  background-position: 0 0;
  vertical-align: baseline;
}
body {
  background-color: #161616;
  letter-spacing: 0.75px;
}
body::-webkit-scrollbar {
  background: #101029;
  box-shadow: 10px 10px 20px #131e4d;
}
body::-webkit-scrollbar-thumb {
  background: #38383b;
}
body::-webkit-scrollbar-thumb:hover {
  background: #3e3cc7;
}
#wrapper {
  background-color: #18181b;
  border: 1px solid #292858;
  box-shadow: 0px 0px 3em #101010;
}
#wrapper a {
  color: #ebb272;
}
#wrapper header {
  color: #bcbbc5;
  background: #1a1936;
  border-bottom: 1px solid #292858;
  box-shadow: 0px -2px 10px #1a1936, 0px 0px 2vw 2vw #171633bb inset;
}
#wrapper header h1 span {
  font-weight: 300;
  font-size: 28px;
  color: #eaebf0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#wrapper header h1 span #logo {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#wrapper header nav#global-nav ul {
  list-style-type: none;
}
#wrapper header nav#global-nav ul li p a {
  text-decoration: none;
  color: #ebb272;
  font-size: 18px;
  letter-spacing: 0.07em;
  bottom: auto;
}
#wrapper header nav#global-nav ul li p a:hover {
  text-decoration: underline;
}
#wrapper header nav#global-nav ul li p a.github-link:before {
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  content: "";
  background: url("../img/github/GitHub-Mark-Light-32px.png") no-repeat;
  background-size: 0.8em;
  background-position: 0em 0.1em;
}
#wrapper header nav#global-nav ul li p a.install {
  color: #fffce8;
  background-color: #3532db;
  letter-spacing: 1px;
  font-weight: 500;
  border-top:0.5px solid #3b3b85;
  border-bottom:1px solid #0d0d2f;
  border-right:0.5px solid #0d0d2f;
  border-left:0.5px solid #5252a8;
  text-shadow:-0.5px -0.5px 0.5px #5252a8,-1px -1px 1px #0d0d2f;
    0px 0px 4px #0a0a2ce1,
    inset 0px -1px 1px 1px #5252a815,
    inset 0px -2px 5px 3px #5252a82d
    ;
}
#wrapper header nav#global-nav ul li p a.install:hover {
  color: #fff199;
  border-top:0.5px solid #3b3b85;
  border-bottom:1px solid #0d0d2f;
  border-right:0.5px solid #0d0d2f;
  border-left:0.5px solid #5252a8;
  text-decoration: none;
  box-shadow:
    0px 0px 4px #3532db86,
    0px 0px 10px #3532db63
  ;
}
#wrapper header nav#global-nav ul li p a.install:active {
  color: #fbe975;
  background-color: #3532db;
  border-top:0.5px solid #3532db32;
  border-bottom:1px solid #3532db32;
  border-right:0.5px solid #3532db32;
  border-left:0.5px solid #3532db32;
  box-shadow:
    0px 0px 8px #3532db86,
    0px 0px 20px #3532db63
  ;
}
#wrapper header nav#global-nav ul li p a.install:active {
  background-color: #3532db;
}
#wrapper nav#breadcrumb {
  background: #0e0e13;
  border: 1px solid #292858;
}
#wrapper nav#breadcrumb ul {
  list-style: none;
}
#wrapper nav#breadcrumb ul li p a:after {
  color: #bcbbc5;
  content: ">";
}
#wrapper nav#breadcrumb ul li p a {
  text-decoration: none;
  color: #bcbbc5;
}
#wrapper nav#breadcrumb ul li p a:after {
  content: "";
  background: none;
}
#wrapper nav#breadcrumb ul li p a:hover {
  color: #f7e8d7;
}
#wrapper article .article-group {
  counter-reset: line-number;
  background: #0e0e13;
}
#wrapper .article-group {
  background: #0e0e13;
  border: 1px solid #292858;
  box-shadow: 0px 0px 4px darker(#1a1936);
}
#wrapper article h2 {
  border-top: 1px solid #414169;
  border-bottom: 1px solid #ffac30;
  color: #bcbbc5;
  background: #292858;
  box-shadow: 0px -2px 4px #1a1936;
  letter-spacing: 1.3px;
  font-weight: 300;
}
#wrapper article h3 {
  color: #bcbbc5;
  letter-spacing: 1px;
  background: #1a1936ff;
  border: 1px solid #292858;
  border-bottom: none;
}
#wrapper article .article-group p,
#wrapper article .article-group ul li p,
#wrapper article .article-group dl dt p,
#wrapper article .article-group dl dd p {
  color: #bcbbc5;
  background: #0e0e13;
  border-left: 42px solid #18181b;
  border-right: 1px solid #4744e791;
}
#wrapper .article-group p.editor-style {
  counter-increment: line-number;
}
#wrapper .article-group p.editor-style:before {
  font-size: 14px;
  color: #7d7999;
  content: counter(line-number);
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#wrapper article .article-group dl,
#wrapper article .article-group ul {
  list-style: none;
}
#wrapper footer {
  background: #1a1936;
  width: 100%;
  height: 100px;
  color: #bcbbc5;
}
#wrapper footer p small {
  color: #bcbbc5;
}
#wrapper footer p:before {
  content: none;
}
#wrapper footer ul {
  list-style: none;
}
#wrapper footer ul li p {
  color: #bcbbc5;
}
#wrapper footer ul li p a {
  text-decoration: none;
}
@media screen and (max-width: 850px) {
  body::-webkit-scrollbar {
    display: none;
  }
  #wrapper {
    border: none;
  }
  #wrapper header h1 span {
    font-size: 22px;
  }
}
